input.ng-invalid.ng-touched {
    border: 1px solid rgb(235, 4, 92);
}

@media screen and (max-width: 770px) {
    table {
        border: 0;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        display: block;
        border-bottom: 2px solid #ddd;
    }
    table td {
        font-size: 1em;
        text-align: right;
    }
    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    table td:last-child {
        border-bottom: 0;
    }
}