<div class="ui container">
  <div class="ui stackable menu">
    <div class="item">
      <img src="../assets/isplogo.png">
    </div>
    <a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Dashboard</a>
    <a class="item" routerLink="/crudoperaions" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">CRUD</a>
    <a class="item" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">About App</a>
    <a class="ui purple header" style="padding-bottom: 10px; padding-left: 10px">
      <i class="wifi olive icon"></i>
      ISP Search Made Easy!
    </a>
  </div>
</div>
<div class="ui container">
  <router-outlet></router-outlet>
</div>