<div style="padding-top: 10px;">
    <div class="ui tall stacked raised segment">
        <h3 class="ui purple header">ISP Listing HackerEarth Challenge</h3>
        <div class="ui bulleted list">
            <div class="item">This assignment was a part of HackerEarth's Full stack application development challenge
            </div>
            <a class="item" target="_self" href="../../assets/ISPHackerEarthChallenge.docx"
                download="ISPHackerEarthChallenge">Link to download Problem statement</a>
            <div class="item">
                <div class="header">Technology stack used</div>
                <div class="list">
                    <div class="item">Front-end: Angular 6</div>
                    <div class="item">Styling: Semantic UI</div>
                    <div class="item">Back-end: NodeJS (MVC architecture)</div>
                    <div class="item">ExpressJS framework</div>
                    <div class="item">Mongoose library</div>
                    <div class="item">Database: MongoDB Atlas</div>
                </div>
            </div>
            <div class="item">
                <div class="header">Components</div>
                <div class="list">
                    <div class="item">ISP CRUD Component: To perform all CRUD operations </div>
                    <div class="item">ISP Dashboard Component: To load statistic</div>
                    <div class="item">ISP List Component: To load list of ISP's</div>
                    <div class="item">ISP Info Component: To show detailed ISP info</div>
                </div>
            </div>
            <div class="item">
                <div class="header">Service</div>
                <div class="list">
                    <div class="item">ISP-Service: To perform all API operations</div>
                </div>
            </div>
            <div class="item">
                <div class="header">Models</div>
                <div class="list">
                    <div class="item">ISP-Data: To store ISP object</div>
                </div>
            </div>
            <div class="item">
                <div class="header">Future Scope</div>
                <div class="list">
                    <div class="item">Login and Authentication component</div>
                    <div class="item">Buy monthly internet plans directly from app</div>
                    <div class="item">Billing component with different payment modes</div>
                    <div class="item">UI improvements like show stars for rating</div>
                </div>
            </div>
        </div>
    </div>
</div>